@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Mono:wght@300&display=swap');



body {
    background-image: url(./images/CompetentWeirdAstrangiacoral-size_restricted.gif);
    height: 1300px;
    margin: 0;
    padding: 0;
}

.q {
    font-family: sans-serif;
    color: white;
    font-weight: 600;
    font-size: 34px;
    position: sticky;
    top: 40%;
    text-align: left;
    margin-left: 35px;
}

p {
    font-size: 30px;
    text-transform: capitalize;
    margin: 15 px;
}

.link {
    padding-inline: 35px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: white;
    align-content: center;
    position: absolute;
    top: 40%px;
    left: 18%px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-family: sans-serif;
}

a:hover {
    background-color: rgb(88, 88, 88);
}

.nav {
    width: 100%;
    height: 50px;

    background-color: whitesmoke;
    position: absolute;
    top: 0;
    left: 0;
}

.row {
    display: flex;
    margin-top: 17px;
    padding: 0%;
    justify-content: flex-end;
}

.one {
    padding: 16px;
    background-color: black;
    margin: 0%;
    text-decoration: none;
    color: white;
}

.two {
    padding: 16px;
    padding-inline: 40px;
    background-color: black;
    margin: 0%;
    text-decoration: none;
    color: white;
}

.three {
    padding: 16px;
    padding-inline: 30px;
    background-color: black;
    margin: 0%;
    text-decoration: none;
    color: white;
}

ul {
    border: 5px white;
}

.text1 {
    margin-top: -45px;
    margin-left: 10px;
    font-size: 35px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: white;
    position: fixed;
    bottom: 0%;
    display: flex;
    z-index: 2;
}
 #ig{
   margin: 25px;
    width: 60px;
    height: 60px;
    z-index: 2;
 }

#gh{
    margin-top: 23px;
    width: 60px;
    height: 60px;
    margin-inline: 25px;
    z-index: 2;
}

#footer-text{
    color: black;
    margin-left: 1000px;
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
    z-index: -1;
}
 
.text2{
    font-size: 50px;
    position: absolute;
    bottom: -100px;
    top: -50px;
    padding-inline: 625px;
    z-index: -2;
}
